body {
  font-family: arial,helvetica, sans-serif;
  background-color: #;
}

div {
  background-image: url(img/regionsdvd.jpg);
  background-repeat:

}

#contenidor {
  background-image: none;
  width: 575px;
  margin: 0 auto;
}
